

@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: 'Raleway', sans-serif;
}

.menu{
	width: 100%;
	padding: 30px auto;
	display: flex;
	position: fixed;

	div{
		flex-direction: row;
		width: 180px;
		padding: 0 10px;

		img{
			padding: 20px 38px;
		}
	}

	ul{
		display: flex;
		padding-left: 105px;

		li{
			padding: 40px 30px;
			white-space: nowrap;

			a{
				color: #fff;
				font-weight: 400i;
				text-decoration: none;
			}
		}
	}

}

// mobile menu
@media screen and (max-width: 768px) {
	.menu{
		display: flex;
		flex-direction: row;
		position: fixed;
		background-color: #fff;
		z-index: 2;

		div{

			img{
				padding: 9px 0;
				width: 60%;
			}
		}

		ul{
			margin-left: -170px;
			margin-top: 1px;
			justify-content: center;

			li{
				padding: 18px 11px;

				a{
					color: #ff95b0;
					font-size: 15px;

				}
			}
		}	

	}
}


//top section
#top{
	height: 640px;
	background-color: #ff95b0;

	.rope{
		left: 86%;
		position: absolute;
		@media screen and (max-width: 768px) {
			left: 42%;

			img{
				margin-top: -140px;
			}
		}
		
		img{
			top: -300px;
			width: 82px;	
		}
	}

	.character1{
		left: 40%;
		top: 60%;
		position: absolute;
		@media screen and (max-width: 768px) {
			left: 40%;
			top: 75%;

			img{
				width: 90px;
			}
		}
	}

	.character2{
		left: 55%;
		top: 30%;
		position: absolute;
		@media screen and (max-width: 768px) {
			left: 70%;
			top: 75%;

			img{
				width: 100px;
			}
		}
	}

	.character3{
		left: 10%;
		top: 40%;
		position: absolute;
		@media screen and (max-width: 768px) {
			left: 7%;
			top: 75%;

			img{
				width: 90px;
			}
		}
	}

}












