

@import 'reset';

@font-face {
	font-family: 'funnier';
	src: url(../../dist/fonts/funnier.ttf) format('truetype'),
		 url(../../dist/fonts/funnier.ttf) format('trueType'),
		 url(../../dist/fonts/funnier.ttf) format('ttf'); 
}



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {                    
	font-family: 'Raleway', sans-serif;
}


// navigation menu----------------------------------

.navBar{
	position: fixed;
	min-width: 100%;
	z-index: 4;

	.wrapper{
		margin: 0 auto;
		width: 100%;
		padding: 0 2%;
	}
}

/* 3 div lines */
.burger{
  	position: absolute;
  	display: inline-block;
  	top: 28px;
  	right: 30px;
  	width: 29px;
  	height: 24px;
  	cursor: pointer;
  	z-index: 3;

  
  	div{
  		position: absolute;
  		width: 100%;
  		height: 20%;
  		background-color: #460087;
  		border-radius: 30%;
  		transition: 0.3s;

	 	//2nd bar
	 	&:nth-child(2) {
	   		top: 40%;
	 	}

	 	//3rd bar
	 	&:nth-child(3) {
	 	 	top: 80%;
		}

		// js click burger to show items and animate the burger to make an x
		.ul_open &:first-child {
			animation-name: bounce;
			animation-duration: 0.6s;
		    transform: translateY(5px) rotate(-45deg);
		}

		.ul_open &:nth-child(2) {
			animation-name: bounce;
			animation-duration: 0.6s;
			transform: rotate(-45deg);
			opacity: 0;
		}

		.ul_open &:nth-child(3) {
			animation-name: bounce;
			animation-duration: 0.6s;
			transform: translateY(-13px) rotate(-135deg);
		}
  	}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
} 



//hide the menu list items and show them on click
.main-menu-items{
	display: none;
	position: absolute;
	right: 0;
	animation-name: appear;
	animation-duration: 2s;
	margin-top: 60px;

	li{
		text-align: right;
		margin-right: 30px;
		padding: 7px 0;

		&:hover{
			animation-name: wiggle;
			animation-duration: 1s;
		}
		

		a{
			color: #460087;
			text-decoration: none;

			&:hover{
				color: #f80368;

			}

		}
	}
}


@keyframes appear {
    0% { opacity: 0; }
    60% { opacity: 1; }
} 

@keyframes wiggle {
	0% { transform:rotate(3deg); }
	50%{ transform:rotate(-3deg); }
	100%{ transform:rotate(3deg); }
}


//-------top section1---------------------------------------


#top{
	position: relative;


	//mobile rope
	.rope{
		width: 277px; //each sheet is 321w
		height: 277px; //each sheet is 321h
		background: url(../../dist/img/rope-spritesheet.png);
		animation: play 3s steps(11) infinite;
		background-repeat: no-repeat;
		position: absolute;
		right: 59px;

		//desktop rope
		@media screen and (min-width: 769px) {
			width: 500px; //each sheet is 500w
			height: 500px; //each sheet is 500h
			background: url(../../dist/img/spritesheet-rope-desktop.png);
			animation: play 3s steps(11) infinite;
			background-repeat: no-repeat;
			position: absolute;
		}
	}
}



#top{

	//mobile 
	@keyframes play{
		100% { background-position: -4000px; } //width of entire spritesheet
	}

	//desktop 
	@media screen and (min-width: 769px) {
		@keyframes play{
			100% { background-position: -5207px; } 
		}
	}

	.logo{
		position: absolute;
		width: 180px;
		top: 260px;
		left: 40px;
	}
}


.top-bkg-section{
	height: 702px;
	background: //mobile size
		url(../../dist/img/4.svg), 
		url(../../dist/img/blackunderpurple.png), 
		url(../../dist/img/3.svg),
		url(../../dist/img/blackunderpink.png),  
		url(../../dist/img/2.svg),
		url(../../dist/img/blackunderyellow.png),  
		url(../../dist/img/1.svg),
		url(../../dist/img/blackunderorange.png); //one img will be on top of two img
	background-repeat: no-repeat;
	background-size: 100% auto; 
	//                   purple  pblack   pink   pblack  yellow  yblack  orange  oblack
	background-position: 0 30px, 0 11px, 0 9px, 0 4px, 0 -26px, 0 12px, 0 0, 0 0;
	//desktop
	@media screen and (min-width: 522px) {
		height: 1880px;
		background-position: 0 79px, 0 29px, 0 28px, 0 20px, 0 -75px, 0 16px, 0 0, 0 17px;
	}

}



//------------video section------------------------------------


.video-section{
	margin-top: -209px;
	position: relative;
	padding-bottom: 35px;

	//tablet
	@media screen and (min-width: 522px) {
		margin-top: -1200px;
	}

	//desktop
	@media screen and (min-width: 768px){
		margin-top: -1150px;
	}

	.video{
		display: flex;
		justify-content: center;
		flex-direction: column;

		p{
			display: none;

			//desktop
			@media screen and (min-width: 768px){
				display: flex;
				font-size: 24px;
				text-align: center;
				margin: 0 auto;
				padding-bottom: 35px;
				white-space: nowrap;
				color: #fff;
				font-family: 'funnier', Fallback, sans-serif;
			}
		}

		img{
			display: flex;
			align-self: center;
			height: 275px;
			width: 310px;

			//tablet
			@media screen and (min-width: 527px){
				height: 380px;
				width: 500px;
			}

			//desktop
			@media screen and (min-width: 768px){
				height: 360px;
				width: 550px;
			}
		}
	}
}


//-------section2 self esteem---------------------------------------

section#self-esteem{
	position: relative;

	div p{
		display: none;
	}
}



.character1{
	margin-top: -84px;
	background: 
		url(../../dist/img/5.svg), 
		url(../../dist/img/blackunderpinkch.png);
	background-repeat: no-repeat;
	background-size: 100% auto; 
	background-position: 0 30px, 0 15px;
	height: 700px;

	//desktop
	@media screen and (min-width: 768px) {
		height: 909px;
		margin-top: 0px;
		background-position: 0 6px, 0 -30px;
	}

	div{
		display: flex;
		justify-content: center;

		p{
			font-size: 15px;
			color: #fff;
			padding-top: 243px;
			margin: 0 30px;
			line-height: 1.3em;
			text-align: left;

			// tablet 509
			@media screen and (min-width: 509px) {
				padding-top: 270px;
				margin: 0 70px;
			}

			// tablet 648
			@media screen and (min-width: 648px) {
				padding-top: 220px;
				margin: 0 60px 0 199px;
				font-size: 18px;
			}

			// tablet 768
			@media screen and (min-width: 768px) {
				padding-top: 450px;
				margin: 0 78px;
				font-size: 24px;
				line-height: 1.5em;
			}

			// tablet 1024
			@media screen and (min-width: 1024px) {
				padding-top: 350px;
				margin: 0 180px 0 330px;
				font-size: 25px;
				line-height: 1.6em;
			}
		}
	}

	img{
		left: 10%;
		top: 12%;
		position: absolute;
		width: 90px;

		// tablet 400
		@media screen and (min-width: 400px) {
			top: 14%;
		}

		// tablet 510
		@media screen and (min-width: 510px) {
			top: 17%;
		}

		// tablet 650
		@media screen and (min-width: 650px) {
			top: 20.5%;
		}

		// tablet 768
		@media screen and (min-width: 768px) {
			left: 13%;
			top: 17%;
			width: 124px;
			position: absolute;
		}

		// desktop
		@media screen and (min-width: 920px) {
			top: 20%;
		}

		// bigger 1107
		@media screen and (min-width: 1107px) {
			top: 23%;
		}
	}
}


.character2{
	margin-top: -577px;
	background: 
		url(../../dist/img/6.svg), 
		url(../../dist/img/blackunderorangech.png);
	background-repeat: no-repeat;
	background-size: 100% auto; 
	background-position: 0 20px, 0 21px;
	height: 700px;

	//desktop
	@media screen and (min-width: 768px) {
		height: 930px;
		margin-top: -739px;
		background-position: 0 30px, 0 14px;
	}

	div{
		display: flex;
		justify-content: center;

		p{
			font-size: 15px;
			color: #fff;
			padding-top: 152px;
			margin: 0 30px;
			line-height: 1.3em;
			text-align: left;

			// tablet 466
			@media screen and (min-width: 466px) {
				padding-top: 189px;
				margin: 0 50px;
			}

			// tablet 566
			@media screen and (min-width: 566px) {
				padding-top: 225px;
				margin: 0 60px;
			}

			// tablet 700
			@media screen and (min-width: 700px) {
				padding-top: 247px;
				margin: 0 79px;
				font-size: 18px;
			}

			// tablet 768
			@media screen and (min-width: 768px) {
				padding-top: 400px;
				margin: 0 80px;
				font-size: 24px;
				line-height: 1.5em;
			}

			// tablet 1024
			@media screen and (min-width: 1024px) {
				padding-top: 400px;
				margin: 0 180px;
				font-size: 25px;
				line-height: 1.6em;
			}
		}
	}

	img{
		left: 64%;
		top: 19%;
		position: absolute;
		width: 80px;

		// tablet 650
		@media screen and (min-width: 650px) {
			left: 68%;
		}

		// desktop
		@media screen and (min-width: 768px) {
			left: 67%;
			top: 18%;
			width: 120px;
			position: absolute;
		}
	}
}

.character3{
	margin-top: -570px;
	background: 
		url(../../dist/img/7.svg), 
		url(../../dist/img/blackunderyellowch.png);
	background-repeat: no-repeat;
	background-size: 100% auto; 
	background-position: 0 40px, 0 26px;
	height: 700px;
	padding-bottom: 30px;

	//desktop
	@media screen and (min-width: 768px) {
		height: 900px;
		margin-top: -690px;
		background-position: 0 88px, 0 65px;
	}

	div{
		display: flex;
		justify-content: center;

		p{
			font-size: 15px;
			color: #f80368; // change the color
			padding-top: 220px;
			margin: 0 30px;
			line-height: 1.3em;
			text-align: left;

			// tablet 522
			@media screen and (min-width: 522px) {
				padding-top: 305px;
				margin: 0 50px;
			}

			// tablet 700
			@media screen and (min-width: 700px) {
				padding-top: 367px;
				margin: 0 60px;
				font-size: 18px;
			}

			// tablet 768
			@media screen and (min-width: 768px) {
				padding-top: 430px;
				margin: 0 75px;
				font-size: 24px;
				line-height: 1.5em;
			}

			// tablet 768
			@media screen and (min-width: 1000px) {
				padding-top: 480px;
				margin: 0 130px;
				font-size: 25px;
				line-height: 1.5em;
			}
		}
	}

	img{
		left: 48%;
		top: 33%;
		position: absolute;
		width: 85px;

		//desktop
		@media screen and (min-width: 768px) {
			left: 49%;
			top: 39%;
			width: 120px;
			position: absolute;
		}
	}
}



// TOGGLING THE PINK LAYER SECTION------------------

//when the pink layer is clicked, 
//move the orange, yellow and white layers down
.show_more_pink {

	
	//orange
	.character2{
		margin-top: -380px;

		img{
			top: 34%;
		}
	}

	//yellow
	.character3{
		margin-top: -547px;

		@media screen and (min-width: 768px) {
			margin-top: -630px;
		}

		img{
			top: 47%;

			@media screen and (min-width: 768px) {
				top: 56%;
				left: 50%;
			}
		}
	}

	//white
	#games{
		margin-top: 230px;

		@media screen and (min-width: 768px) {
			margin-top: 430px;
		}
	}
}


// TOGGLING THE ORANGE LAYER SECTION------------------

//when the orange layer is clicked, 
//move the yellow and white layers down
.show_more_orange {

	//orange charactr
	@media screen and (min-width: 768px) {
		.character2 img{
			top: 16%;
			left: 67%;
		}
	}
	
	//pink character
	.character1 img{

		@media screen and (min-width: 605px) {
			top: 17%;
		}

		@media screen and (min-width: 768px) {
			top: 14%;
		}

		@media screen and (min-width: 992px) {
			top: 17%;
		}
	}

	//yellow
	.character3{
		margin-top: -487px;

		@media screen and (min-width: 400px) {
			margin-top: -439px;
		}

		@media screen and (min-width: 522px) {
			margin-top: -385px;
		}

		@media screen and (min-width: 700px) {
			margin-top: -379px;
		}

		@media screen and (min-width: 1024px) {
			margin-top: -399px;
		}

		img{
			top: 39%;

			@media screen and (min-width: 400px) {
				top: 43%;
			}

			@media screen and (min-width: 522px) {
				left: 49%;
			}

			@media screen and (min-width: 700px) {
				top: 48%;
			}

			@media screen and (min-width: 768px) {
				top: 52%;
				left: 50%;
			}
		}
	}

	//white
	#games{
		top: 1180px;

		@media screen and (min-width: 400px) {
			top: 1240px;
		}

		@media screen and (min-width: 522px) {
			top: 1530px;
		}

		@media screen and (min-width: 527px) {
			top: 1630px;
		}

		@media screen and (min-width: 700px) {
			top: 1720px;
		}

		@media screen and (min-width: 768px) {
			top: 2250px;
		}

		@media screen and (min-width: 887px) {
			top: 2280px;
		}

		@media screen and (min-width: 1024px) {
			top: 2330px;
		}

	}

}



// TOGGLING THE YELLOW LAYER SECTION------------------

//when the yellow layer is clicked, 
//move the white layers down
.show_more_yellow {
	
	//pink character
	.character1 img{
		top: 14%;
		@media screen and (min-width: 500px) {
			top: 17%;
		}
	}

	//yellow
	.character3 img{
		top: 39%;
	}

	//white
	#games{
		top: 1290px;

		@media screen and (min-width: 522px) {
			top: 1620px;
		}

		@media screen and (min-width: 700px) {
			top: 1720px;
		}

		@media screen and (min-width: 768px) {
			top: 2150px;
		}

		@media screen and (min-width: 887px) {
			top: 2240px;
		}

		@media screen and (min-width: 1024px) {
			top: 2270px;
		}

	}

}




//-------section3 games---------------------------------------

section#games{
	width: 100%;
	background: url(../../dist/img/8long.svg);
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: 0 30px;
	padding: 10px 0;
	position: absolute;
	top: 1120px;

	//tablet
	@media screen and (min-width: 522px) {
		top: 1340px;
	}

	//tablet
	@media screen and (min-width: 527px) {
		top: 1460px;
	}

	//desktop
	@media screen and (min-width: 768px) {
		top: 1940px;
		background: url(../../dist/img/8.svg);
		background-repeat: no-repeat;
		background-size: 100%; 
		background-position: 0 30px;
	}

	//bigger
	@media screen and (min-width: 1024px) {
		top: 2010px; 
	}
}


#games{
	display: flex;
	flex-direction: column;

	.lets-play{
		display: flex;
		justify-content: center;

		h2{
			margin: 0 auto;
			margin-top: 180px;
			color: #460087;
			font-family: 'funnier', Fallback, sans-serif;
			font-size: 30px;
			padding-bottom: 30px;
			//mobile
			@media screen and (max-width: 768px) {
				padding-top:30px;
			}
		}
	}

	.game-circles{
		display: flex;
		flex-direction: row;
		justify-content: center;

		//mobile
		@media screen and (max-width: 768px) {
			flex-direction: column;
		}

		div {
			margin: 0 auto;

			img{
				width: 200px;
				margin: 60px auto;
				padding-bottom: 30px;

				//mobile
				@media screen and (max-width: 768px) {
					padding-bottom: 26px;
					margin: 10px auto;
				}
			}
		}
	}

}



















