

@import 'reset';

@font-face {
	font-family: 'pontiac';
	src: url(../../dist/fonts/pontiac.otf) format('opentype'),
		 url(../../dist/fonts/pontiac.otf) format('openType'),
		 url(../../dist/fonts/pontiac.otf) format('otf'); 
}



/* 1. Main Layout ================================= */

.container{
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	background-color: #fdfcda;
	box-shadow: 3px 3px 30px 1px #150b13;
}

* {
	box-sizing: border-box;
}

body {                    
	height: 100%;
	font-family: 'Raleway', sans-serif;
	background-color: #672256;
	
}


// navigation menu----------------------------------

nav{
	position: fixed;
	width: 100%;
	z-index: 4;

	.wrapper{
		position: relative;
		margin: 0 auto;
		max-width: 1440px;
		padding: 0 2%;
	}
}

/* 3 div lines */
.burger{
  	position: absolute;
  	display: inline-block;
  	top: 28px;
  	right: 30px;
  	width: 29px;
  	height: 24px;
  	cursor: pointer;
  	z-index: 3;

  
  	div{
  		position: absolute;
  		width: 100%;
  		height: 20%;
  		background-color: #460087;
  		border-radius: 30%;
  		transition: 0.3s;


	 	//2nd bar
	 	&:nth-child(2) {
	   		top: 40%;
	 	}

	 	//3rd bar
	 	&:nth-child(3) {
	 	 	top: 80%;
		}

		// js click burger to show items and animate the burger to make an x
		.ul_open &:first-child {
			animation-name: bounce;
			animation-duration: 0.6s;
		    transform: translateY(5px) rotate(-45deg);
		}

		.ul_open &:nth-child(2) {
			animation-name: bounce;
			animation-duration: 0.6s;
			transform: rotate(-45deg);
			opacity: 0;
		}

		.ul_open &:nth-child(3) {
			animation-name: bounce;
			animation-duration: 0.6s;
			transform: translateY(-13px) rotate(-135deg);
		}
  	}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-20px);}
} 



//hide the menu list items and show them on click
.main-menu-items{
	display: none;
	position: absolute;
	right: 0;
	animation-name: appear;
	animation-duration: 2s;
	margin-top: 60px;

	li{
		text-align: right;
		margin-right: 30px;
		padding: 7px 0;

		&:hover{
			animation-name: wiggle;
			animation-duration: 1s;
		}
		

		a{
			color: #460087;
			text-decoration: none;

			&:hover{
				color: #f80368;

			}

		}
	}
}


@keyframes appear {
    0% { opacity: 0; }
    60% { opacity: 1; }
} 

@keyframes wiggle {
	0% { transform:rotate(3deg); }
	50%{ transform:rotate(-3deg); }
	100%{ transform:rotate(3deg); }
}


//-------top section1---------------------------------------


#top{
	position: relative;


	//mobile rope
	.rope{
		width: 277px; //each sheet is 321w
		height: 277px; //each sheet is 321h
		background: url(../../dist/img/rope-spritesheet.png);
		animation: play 3s steps(11) infinite;
		background-repeat: no-repeat;
		position: absolute;
		right: 59px;
		margin-top: -20px;
		transition: 0.2s;

		&:hover{
			 animation-play-state: paused;
			 transform: translateY(20px);
			 cursor: pointer;
		}

		//hide pull me below 476
		h1{
			display: none;
		}

		// small tablet pull me letters
		@media screen and (min-width: 476px) {
			h1{
				display: flex;
				flex-direction: column;
				position: absolute;
				right: 85px;
				top: 93%;
				line-height: 1.4em;
				font-family: 'pontiac', Fallback, sans-serif;
				color: #460087;
				text-align: center;
			}
		}

		//desktop rope
		@media screen and (min-width: 769px) {
			width: 500px; //each sheet is 500w
			height: 500px; //each sheet is 500h
			background: url(../../dist/img/spritesheet-rope-desktop.png);
			animation: play 3s steps(11) infinite;
			background-repeat: no-repeat;
			position: absolute;
			z-index: 2;
			margin-top: -20px;

			h1{
				right: 252px;
				top: 80%;
			}

			// hidden checkbox desktop
			input#pullButton{
				// visibility: hidden;
				left: 40%;
				top: 80%;

			}
		}
	}

}



//top characters gifs

.top-characters{
	position: relative;
	height: 100%;
	width: 100%;
	animation-duration: infinite;


	.whimsy{
		
		img{
			position: absolute;
			width: 13%;
			margin-top: 34%;
			left: 79%;
		}
	}

	.fidget{
		
		img{
			position: absolute;			
			width: 18%;
			margin-top: 70%;
			left: 82%;
		}
	}

	.gizmo{

		img{
			position: absolute;
			width: 13%;
			top: 30%;
			left: 38%;
			transform: rotate(35deg);
		}

	}

		
}











//nerd falling animation

.nerdsFall{

	position: relative;
	width: 100%;
	// height: 100%;
	z-index: 4;
	pointer-events: none;

	img {
		position: absolute;
		top: -94px;
		// transform: translateY(-25px);
	}

	.pinknerd{
		width: 4%;
		left: 32%;
	}

	.pinknerd2{
		width: 4%;
		left: 64%;
		transform: rotate(95deg);
	}

	.greennerd{
		width: 6%;
		left: 3%;
	}

	.greennerd2{
		width: 5%;
		left: 92%;
		transform: rotate(20deg);
	}

	.orangenerd{
		width: 4%;
		left: 82%;
	}

	.purplenerd{
		width: 4%;
		left: 79%;
	}

	.yellownerd{
		width: 4%;
		left: 17%;
	}

}



#top{

	//mobile 
	@keyframes play{
		100% { background-position: -4000px; } //width of entire spritesheet
	}

	//desktop 
	@media screen and (min-width: 769px) {
		@keyframes play{
			100% { background-position: -5207px; } 
		}
	}

	.logo{
		position: absolute;
		top: 260px;
		left: 40px;
	}
}


.top-bkg-section{
	height: 608px;
	background: //mobile size
		url(../../dist/img/4.svg), 
		url(../../dist/img/blackunderpurple.png), 
		url(../../dist/img/3.svg),
		url(../../dist/img/blackunderpink.png),  
		url(../../dist/img/2.svg),
		url(../../dist/img/blackunderyellow.png),  
		url(../../dist/img/1.svg),
		url(../../dist/img/blackunderorange.png); //one img will be on top of two img
	background-repeat: no-repeat;
	background-size: 100% auto; 
	//                   purple  pblack   pink   pblack  yellow  yblack  orange  oblack
	background-position: 0 30px, -16px 10px, 0 9px, -6px 10px, 0px -26px, -7px 12px, 0 0, -15px 5px;
	//desktop
	@media screen and (min-width: 522px) {
		height: 1880px;
		background-position: 0 79px, -15px 48px, 0 28px, -6px 25px, 0 -43px, -7px -7px, 0 0, -12px 9px;
	}
	@media screen and (min-width: 610px) {
		background-position: 0 79px, -15px 48px, 0 28px, -6px 25px, 0 -43px, -12px -2px, 1px 0, -12px 9px;
	}
	@media screen and (min-width: 768px) {
		background-position: 0 79px, -28px 48px, 0 28px, -6px 33px, -2px -50px, -20px 3px, 1px 0, -12px 9px;
	}
	@media screen and (min-width: 963px) {
		background-position: 0px 79px, -29px 41px, 0 28px, -6px 33px, -3px -61px, -22px 3px, 1px 0, -26px 9px;
	}
	@media screen and (min-width: 1144px) {
		background-position: 0 79px, -36px 21px, 0 28px, -17px 38px, -3px -75px, -31px 3px, 1px 0, -29px 6px;
	}
	@media screen and (min-width: 1341px) {
		background-position: 0 79px, -52px 21px, 0 28px, -17px 38px, -3px -75px, -39px 27px, 1px 0, -29px 6px;
	}

}



//------------video section------------------------------------


.video-section{
	margin-top: -140px;
	position: relative;
	padding-bottom: 35px;

	//tablet
	@media screen and (min-width: 522px) {
		margin-top: -1400px;
	}

	//desktop
	@media screen and (min-width: 1035px){
		margin-top: -1340px;
	}
	@media screen and (min-width: 1150px){
		margin-top: -1286px;
	}
	@media screen and (min-width: 1280px){
		margin-top: -1280px;
	}
	@media screen and (min-width: 1330px){
		margin-top: -1201px;
	}

	.video{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		p{
			white-space: nowrap;
			display: none;
			text-align: center;			
			color: #fdfcda;
			padding-bottom: 10px;
			font-family: 'pontiac', Fallback, sans-serif;

			@media screen and (min-width: 490px) {
				display: flex;
				font-size: 13px;
				text-align: center;
				line-height: 2em;
				letter-spacing: 0.04em;
			}

			@media screen and (min-width: 527px) {
				font-size: 14px;
				letter-spacing: 0.08em;
				display: flex;
				margin: 0 auto;
			}

			//desktop
			@media screen and (min-width: 719px){
				display: flex;
				white-space: nowrap;
				font-size: 17px;
				margin: 0 auto;	
				padding-bottom: 35px;			
			}

			@media screen and (min-width: 1330px){
				font-size: 18px;
			}

		}

		img{
			z-index: 3;
			display: flex;
			align-self: center;
			height: 275px;
			width: 310px;

			//tablet
			@media screen and (min-width: 527px){
				height: 380px;
				width: 449px;
			}

			//desktop
			@media screen and (min-width: 768px){
				height: 390px;
				width: 550px;
			}

			@media screen and (min-width: 1224px){
				height: 440px;
				width: 700px;
			}
		}
	}
}


//-------section2 self esteem---------------------------------------


#self-esteem div{
	cursor: pointer;
}

.character1{
	position: relative; //IMPORTANT!!!!!!!!
	margin-top: -84px;
	background: 
		url(../../dist/img/5withcharacter.svg), 
		url(../../dist/img/blackunderpinkch.png);
	background-repeat: no-repeat;
	background-size: 100% auto; 
	background-position: 0 33px, 0 25px;
	height: 720px; //background images must have a set height
	transition: 0.2s; //REally cool! use this more
	margin-bottom: 0px; // for the start of the transition ( 0 )
	
	//make the pink layer thicker
	//so you dont cover the character img
	@media screen and (min-width: 520px) {
		height: 740px;
	}
	//make the pink layer thicker
	//so you dont cover the character img
	@media screen and(min-width: 678px) {
		height: 820px;
	}
	//make the pink layer thicker
	//so you dont cover the character img
	@media screen and(min-width: 1000px) {
		height: 930px;
	}
	//make the pink layer thicker
	//so you dont cover the character img
	@media screen and(min-width: 1170px) {
		height: 980px;
	}

	// invisible box 
	span{ // make box on whimsy pink that clicks and shows pink section only
		@media screen and (max-width: 677px){
			top: 19%;
			padding-bottom: 23%;
			width: 44%;
			max-width: 329px;
		}
		@media screen and (min-width: 678px){
			padding-bottom: 32%;
			width: 46%;
			top: 23%;
		}
		@media screen and (min-width: 834px){
			padding-bottom: 22%;
			top: 25%;
		}
		@media screen and (min-width: 933px){
			width: 45%;
			padding-bottom: 17%;
			top: 29%;
		}
		@media screen and (min-width: 1000px){
			width: 47%;
			padding-bottom: 23%;
			top: 26%;
		}
		@media screen and (min-width: 1170px){
			top: 29%;
		}
		@media screen and (min-width: 1176px){
			padding-bottom: 18%;
		}
		@media screen and (min-width: 1224px){
			padding-bottom: 20%;
		}
		@media screen and (min-width: 1385px){
			top: 33%;
			padding-bottom: 18%;
		}
		z-index: 90000;
		position: absolute;
		top: 24%;
		background-color: transparent;
		height: 0px;
		
	}
	

	img{
		z-index: 8000;
		transform: rotate(-13deg);
		position: absolute;	
		@media screen and (max-width: 464px){
			top: 80px;
			right: 140px;
			width: 27%;	
		}
		@media screen and (min-width: 465px){
			top: 84px;
			right: 166px;
			width: 25%;
		}
		@media screen and (min-width: 539px){
			top: 90px;
			right: 181px;
			width: 25%;
		}
		@media screen and (min-width: 601px){
			right: 194px;
    		width: 26%;
    		top: 82px;
		}
		@media screen and (min-width: 642px){
			right: 229px;
			width: 21%;
			top: 92px;
		}
		@media screen and (min-width: 700px){
			right: 250px;
			width: 30%;
			top: 128px;
		}
		@media screen and (min-width: 834px){
			right: 286px;
			width: 24%;
			top: 114px;
		}
		@media screen and (min-width: 911px){
			right: 330px;
			width: 20%;
		}
		@media screen and (min-width: 1041px){
			right: 380px;
			width: 20%;
		}
		@media screen and (min-width: 1162px){
			width: 22%;
			// right: 380px;
		}
		@media screen and (min-width: 1202px){
			right: 423px;
			top: 140px;
		}
		@media screen and (min-width: 1320px){
			right: 470px;
			top: 180px;
			width: 19%;
		}
		@media screen and (min-width: 1440px){
			right: 490px;
			top: 150px;
			width: 20%;
		}
	}
	

	div.text1{
		display: flex;
		justify-content: center;

		p{
			display: none; //hide the text
			font-size: 13px;
			color: #fdfcda;
			padding-top: 213px;
			margin: 0 55px;
			line-height: 2.3em;
			text-align: left;
			letter-spacing: 0.09em;
			font-family: 'pontiac', Fallback, sans-serif;

			//push down the pink layer text and add margin
			@media screen and (min-width: 500px) {
				padding-top: 280px;
				margin: 0 50px;
				font-size: 14px;
			}
			//push down the pink layer text and add margin
			@media screen and (min-width: 600px) {
				padding-top: 230px;
				margin: 0 299px 0 65px;
				font-size: 16px;
				line-height: 2.2em;
			}
			//push down the pink layer text and add margin
			@media screen and (min-width: 682px) {
				padding-top: 300px;
				margin: 0 380px 0 65px;
			}
			//push down the pink layer text and add margin
			@media screen and (min-width: 797px) {
				padding-top: 340px;
				margin: 0 400px 0 65px;
				font-size: 17px;
				line-height: 2.5em;
			}
			//push down the pink layer text and add margin
			@media screen and (min-width: 834px) {
				padding-top: 350px;
				margin: 0 400px 0 65px;
				font-size: 18px;
				line-height: 2.5em;
			}
			//push down the pink layer text and add margin
			@media screen and (min-width: 911px) {
				padding-top: 390px;
				margin: 0 470px 0 65px;
			}
			//push down the pink layer text and add margin
			@media screen and (min-width: 1000px) {
				padding-top: 410px;
				margin: 0 540px 0 65px;
				font-size: 20px;
			}
			//push down the pink layer text and add margin
			@media screen and (min-width: 1220px) {
				padding-top: 460px;
				margin: 0 670px 0 65px;
			}
		}
	}

	&.show{
		margin-bottom: 300px;

		div p{
			display: flex;
		}
	}

}


.character2{
	position: relative;  //IMPORTANT!!!!!!!!

	margin-top: -577px;
	background: 
		url(../../dist/img/6withcharacter.svg), 
		url(../../dist/img/blackunderorangech.png);
	background-repeat: no-repeat;
	background-size: 100% auto; 
	background-position: 0 20px, 0 19px;
	height: 729px; //background images must have a set height
	transition: 0.2s; //REally cool! use this more
	margin-bottom: 0px; // for the start of the transition ( 0 )

	//make the orange layer thicker
	//so you dont cover the character img
	@media screen and(min-width: 570px) {
		height: 700px;
	}
	//make the orange layer thicker
	//so you dont cover the character img
	@media screen and(min-width: 678px) {
		height: 820px;
		background-position: 0 20px, 0 40px;
	}
	//cover the white under pink
	@media screen and(min-width: 834px) {
		margin-top: -600px;
		height: 835px;
	}
	//make the orange layer thicker
	//so you dont cover the character img
	@media screen and(min-width: 865px) {
		height: 880px;
	}
	//cover the white under pink
	@media screen and(min-width: 933px) {
		margin-top: -630px;
		height: 890px;
	}
	//make the orange layer thicker
	//so you dont cover the character img
	@media screen and(min-width: 1000px) {
		height: 930px;
		margin-top: -650px;
	}
	//make the orange layer thicker
	@media screen and(min-width: 1114px) {
		height: 955px;
	}
	//cover the white under pink
	@media screen and(min-width: 1176px) {
		margin-top: -700px;
		height: 970px;
	}
	//cover the white under pink
	@media screen and(min-width: 1200px) {
		height: 1000px;
		margin-top: -704px;
	}

	// invisible box
	span{ // make box on fidget orange that clicks and shows orange section only
		@media screen and (max-width: 524px){
			top: 17%;
			padding-bottom: 52%;
			width: 33%;
			max-width: 329px;
		}
		@media screen and (min-width: 525px){
			padding-bottom: 38%;
			width: 37%;
			top: 21%;
			max-width: 217px;
		}
		@media screen and (min-width: 657px){
			padding-bottom: 29%;
			top: 25%;
			max-width: 230px;
		}
		@media screen and (min-width: 678px){
			width: 45%;
			padding-bottom: 43%;
			max-width: 250px;
		}
		@media screen and (min-width: 774px){
			width: 49%;
			padding-bottom: 38%;
			top: 28%;
		}
		@media screen and (min-width: 841px){
			width: 60%;
			padding-bottom: 33%;
			top: 28%;
			max-width: 320px;
		}
		@media screen and (min-width: 1000px){
			width: 47%;
			padding-bottom: 38%;
			top: 26%;
			max-width: 367px;
		}
		@media screen and (min-width: 1075px){
			width: 47%;
			padding-bottom: 30%;
			top: 29%;
			max-width: 367px;
		}
		@media screen and (min-width: 1172px){
			width: 53%;
			padding-bottom: 33%;
			top: 29%;
			max-width: 410px;
		}
		@media screen and (min-width: 1224px){
			padding-bottom: 29%;
			top: 33%;
		}
		@media screen and (min-width: 1386px){
			padding-bottom: 27%;
			top: 37%;
		}
		z-index: 90000;
		position: absolute;
		top: 24%;
		background-color: transparent;
		
	}

	img{ //fidget
		transform: rotate(-13deg);
		position: absolute;		
		@media screen and (max-width: 465px){
			top: 180px;
			left: -8px;
			width: 40%;
		}
		@media screen and (min-width: 466px){
			left: -8px;
			top: 230px;
			width: 40%;
		}
		@media screen and (min-width: 685px){
			left: -8px;
			top: 308px;
			width: 40%;
		}
		@media screen and (min-width: 700px){
			left: 0px;
			top: 300px;
			width: 39%;
		}
		@media screen and (min-width: 815px){
			left: 12px;
			top: 359px;
			width: 33%;
		}
		@media screen and (min-width: 980px){
			top: 400px;
			width: 30%;
			left: 30px;
		}
		@media screen and (min-width: 1024px){
			top: 420px;
			left: 49px;
		}
		@media screen and (min-width: 1155px){
			top: 470px;
			left: 59px;
		}
		@media screen and (min-width: 1324px){
			top: 510px;
			left: 59px;
		}
	}

	div.text2{
		display: flex;
		justify-content: center;

		p{
			display: none; //hide the text
			font-size: 13px;
			color: #fdfcda;
			padding-top: 240px;
			margin: 0 30px;
			line-height: 2.3em;
			text-align: left;
			letter-spacing: 0.09em;
			font-family: 'pontiac', Fallback, sans-serif;

			//push down the orange layer text and add margin
			@media screen and (min-width: 352px) {
				padding-top: 260px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 380px) {
				padding-top: 170px;
				margin: 0 30px 0 140px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 445px) {
				padding-top: 200px;
				margin: 0 30px 0 160px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 460px) {
				padding-top: 200px;
				margin: 0 30px 0 180px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 540px) {
				padding-top: 250px;
				margin: 0 30px 0 200px;
			}

			//push down the orange layer text and add margin
			@media screen and(min-width: 637px) {
				font-size: 14px;
				padding-top: 267px;
				margin: 0 30px 0 220px;
			}

			//push down the orange layer text and add margin
			@media screen and(min-width: 683px) {
				font-size: 14px;
				padding-top: 333px;
				margin: 0 60px 0 270px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 785px) {
				padding-top: 353px;
				margin: 1px 70px 0 320px;
				font-size: 16px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 896px) {
				padding-top: 302px;
				margin: 0 40px 0 424px;
				font-size: 17px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 971px) {
				padding-top: 328px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 1000px) {
				padding-top: 326px;
				margin: 0 30px 0 444px;
				font-size: 19px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 1100px) {
				padding-top: 351px;
				margin: 0 42px 0 475px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 1150px) {
				padding-top: 347px;
    			margin: 0 103px 0 469px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 1207px) {
				padding-top: 321px;
				margin: 0 67px 0 675px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 1300px) {
				padding-top: 367px;
			}

			//push down the orange layer text and add margin
			@media screen and (min-width: 1372px) {
				padding-top: 367px;
				margin: 0 93px 0 736px;
			}

		}
	}

	&.show{
		margin-bottom: 300px;

		div p{
			display: flex;
		}
	}
}



.character3{
	position: relative;  //IMPORTANT!!!!!!!!

	margin-top: -580px;
	background: 
		url(../../dist/img/7withcharacter.svg), 
		url(../../dist/img/blackunderyellowch.png);
	background-repeat: no-repeat;
	background-size: 100% auto; 
	background-position: 0 81px, 0 87px;
	height: 720px; //background images must have a set height
	padding-bottom: 30px;
	transition: 0.2s; //REally cool! use this more
	margin-bottom: 0px; // for the start of the transition ( 0 )

	//make the yellow thicker to not hide
	//the character or name
	@media screen and (min-width: 520px) {
		height: 770px;
	}
	//make the yellow thicker to not hide
	//the character or name
	@media screen and(min-width: 678px) {
		height: 860px;
	}
	//cover the white under orange layer
	@media screen and(min-width: 730px) {
		margin-top: -580px;
	}
	//cover the white under orange layer
	@media screen and(min-width: 795px) {
		margin-top: -600px;
	}
	//cover the white under orange layer
	@media screen and(min-width: 857px) {
		margin-top: -600px;
	}
	//cover the white under orange layer
	@media screen and(min-width: 857px) {
		margin-top: -630px;
	}
	//cover the white under orange layer
	@media screen and(min-width: 956px) {
		margin-top: -660px;
	}
	//make the yellow thicker to not hide
	//the character or name
	@media screen and(min-width: 1000px) {
		height: 990px;
	}
	//cover the white under orange layer
	@media screen and(min-width: 1074px) {
		margin-top: -690px;
	}
	//cover the white under orange layer
	@media screen and(min-width: 1174px) {
		margin-top: -697px;
	}
	//cover the white under orange layer
	@media screen and(min-width: 1200px) {
		margin-top: -700px;
	}
	//cover the white under orange layer
	@media screen and(min-width: 1210px) {
		margin-top: -725px;
	}

	img{
		transform: rotate(13deg);
		position: absolute;		
		@media screen and (max-width: 799px){
			top: 120px;
    		right: 29px;
    		width: 32%;
		}
		@media screen and (min-width: 800px){
			top: 150px;
    		right: 50px;
    		width: 24%;
		}
		
	}

	div.text3{
		display: flex;
		justify-content: center;

		p{
			display: none; //hide the text
			font-size: 13px;
			color: #fdfcda; 
			padding-top: 270px;
			margin: 0 40px;
			line-height: 2em;
			text-align: left;
			letter-spacing: 0.09em;
			font-family: 'pontiac', Fallback, sans-serif;

			//adjust the text position and margin
			@media screen and (min-width: 433px) {
				padding-top: 280px;
			}

			//adjust the text position and margin
			@media screen and (min-width: 567px) {
				padding-top: 330px;
				margin: 0 60px;
				font-size: 14px;
			}

			//adjust the text position and margin
			@media screen and (min-width: 678px) {
				font-size: 15px;
				padding-top: 380px;
				margin: 0 90px;
			}

			//adjust the text position and margin
			@media screen and (min-width: 800px) {
				padding-top: 388px;
				margin: 0 100px;
				font-size: 16px;
				line-height: 2.3em;
			}

			//adjust the text position and margin
			@media screen and (min-width: 925px) {
				padding-top: 408px;
				margin: 0 220px;
				font-size: 17px;
			}

			//adjust the text position and margin
			@media screen and (min-width: 1000px) {
				padding-top: 454px;
				margin: 0 180px;
				font-size: 20px;
				line-height: 2.3em;
			}

			@media screen and (min-width: 1178px) {
				padding-top: 524px;
				margin: 0 230px;
				line-height: 2.2em;
			}

			//adjust the text position and margin
			@media screen and (min-width: 1224px) {
				padding-top: 508px;
				margin: 0 290px;
			}

			//adjust the text position and margin
			@media screen and (min-width: 1280px) {
				padding-top: 520px;
				margin: 0 340px;
			}

			//adjust the text position and margin
			@media screen and (min-width: 1337px) {
				padding-top: 530px;
				margin: 0 350px;

			}
		}
	}

	&.show{
		margin-bottom: 240px;

		div p{
			display: flex;
		}
	}

}





//-------section3 games---------------------------------------

#games{
	position: relative; //IMPORTANT !!!
	margin-top: -540px;

	width: 100%;
	background: url(../../dist/img/8.svg);
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: 0 40px;
	padding: 10px 0;
}


.lets-play{
	display: flex;
	justify-content: center;

	h2{
		font-weight: bold;
		letter-spacing: 0.06em;
		margin: 0 auto;
		margin-top: 180px;
		color: #460087;
		font-family: 'pontiac', Fallback, sans-serif;
		font-size: 30px;
		padding-bottom: 60px;

		//mobile
		@media screen and (max-width: 768px) {
			padding-top: 30px;
		}
		@media screen and (min-width: 1000px) {
			margin-top: 230px;
		}
		@media screen and (min-width: 1024px) {
			margin-top: 270px;
		}
	}
}


.game-circles{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 60px;
	align-items: center;
	

	//desktop
	@media screen and (min-width: 768px) {
		flex-direction: row;
	}


	.color{
		color: transparent;
		background-image: url(../../dist/img/colorgame.svg);
		background-repeat: no-repeat;

		&:hover{
			background-image:none;
		}

		h1{
			color: transparent;

			//show icon on hover and hide text
			&:hover{
				font-size: 17px;
				color: #a9388c;
			}
		}

		
	}

	.cleanBeach{
		color: transparent;
		background: url(../../dist/img/beachgame.svg);
		background-repeat: no-repeat;
		transition: .2s ease-in-out;

		&:hover{
			background-image:none;
		}

		h1{
			color: transparent;

			//show icon on hover and hide text
			&:hover{
				font-size: 17px;
				color: #f80368;
			}
		}	
	}

	.puzzles{
		color: transparent;
		background: url(../../dist/img/puzzlegame.svg);
		background-repeat: no-repeat;

		&:hover{
			background-image:none;
		}

		h1{
			color: transparent;

			//show icon on hover and hide text
			&:hover{
				font-size: 17px;
				color: #fc9400
			}
		}

		
	}

	div a{
		text-decoration: none;


		h1{
			
			font-family: 'pontiac', Fallback, sans-serif;
			font-size: 16px;
			padding: 30px;
			border-radius: 50%;
			width: 200px;
			height: 200px;
			margin: 15px auto;
			line-height: 1.5em;
			text-align: center;
			color: #fff;
			padding-top: 70px;
			letter-spacing: 0.08em;
			transition: .2s ease-in-out;

			//desktop
			@media screen and (min-width: 768px) {
				margin: auto 25px;
			}
		}

		
	}

}



//-----------games 2-----------------------------------------

// outside container
#games2{
	perspective-origin: center;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	
	// heading
	.lets-play{
		width: 100%;
		background: url(../../dist/img/8copy.svg);
		background-repeat: no-repeat;
		z-index: 2;
		background-size: 100%; 

		h2{
			@media screen and (max-width: 500px){
				font-size: 1.5em;
			}
		}
		
	}

	// background curtains
	.bkg{
		@media screen and (max-width: 767px){
			background-position: -30%, 130%;
		}
		background-image: url('../img/curtain-left.png'), url('../img/curtain-right.png');
		background-repeat: no-repeat;
		background-position: 0%, 100%;
		height: 0;
		background-size: contain;
		padding-bottom: 100%;
		@media screen and (max-width: 767px){
			padding-bottom: 133%;
		}
		padding-bottom: 100%;
		@media screen and (min-width: 1024px){
			padding-bottom: 60%;
		}
	}


}

// container of arrows and body parts

.bkg{
	margin-bottom: 5%;
	
	.options{
		width: 100%;
		transition: transform .8s;
		transform: rotateY(0deg);
		transform-style: preserve-3d;
		display: flex;
		flex-direction: column;
		margin: 0 auto;

		// images
		li{
			width: 100%;
			position: absolute;
			margin: 0 auto;
			left: 50%;
			transform: translateX(-50%); 
			height: 0;
			padding-bottom: 100%;
			backface-visibility: hidden;
			@media screen and (max-width: 767px){
				width: 79%;
			}
			@media screen and (min-width: 768px){
				width: 60%;
				top: -80px;
			}
			@media screen and (min-width: 1024px){
				top: -290px;
				width: 40%;
			}
			@media screen and (min-width: 1224px){
				top: -450px;
				width: 43%;
			}
		}
	}
}



//--------------------------------------------------------------------------------------------
// hide all eyes until you click the next/previous arrows
.eyes ul li{
	display: none;

	//show them eyes
	&.showThatEye{
		display: flex;
	}
}


.eyes{
	z-index: 4;

	.image1{
		background: url(../../dist/img/eyes1.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image2{
		background: url(../../dist/img/eyes2.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image3{
		background: url(../../dist/img/eyes3.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image4{ 
		background: url(../../dist/img/eyes4.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}
	

}


//--------------------------------------------------------------------------------------------
// hide all mouths until you click the next/previous arrows
.mouth ul li{
	display: none;

	//show them eyes
	&.showThatMouth{
		display: flex;
	}
}

.mouth{
	z-index: 3;
	
	.image1{
		background: url(../../dist/img/mouth1.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image2{
		background: url(../../dist/img/mouth2.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image3{
		background: url(../../dist/img/mouth3.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image4{
		background: url(../../dist/img/mouth4.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

}


//--------------------------------------------------------------------------------------------
// hide all shoes until you click the next/previous arrows
.shoes ul li{
	display: none;

	//show them shoes
	&.showThatShoe{
		display: flex;
	}
}

.shoes{
	z-index: 3;
	
	.image1{
		background: url(../../dist/img/shoes1.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image2{
		background: url(../../dist/img/shoes2.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image3{
		background: url(../../dist/img/shoes3.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image4{
		background: url(../../dist/img/shoes4.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}
	
}


//--------------------------------------------------------------------------------------------
// hide all bodies until you click the next/previous arrows
.body ul li{
	display: none;

	//show them bodies
	&.showThatBod{
		display: flex;
	}
}

.body{
	z-index: -5;


	.image1{
		background: url(../../dist/img/bodygreen.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image2{
		background: url(../../dist/img/bodyorange.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image3{
		background: url(../../dist/img/bodypurple.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}

	.image4{
		background: url(../../dist/img/bodyswirl.svg) no-repeat; //have to use background and not background-image for it to show up
		background-size: contain;
	}
	
}



.arrows{
	position: relative;
	display: flex;
	align-items: center;
	top: 280px;
	z-index: 800;
	padding-bottom: 44%;
	

	a{
		position: absolute;
		transition: .3s;
		width: 2.3%;
		height: 0;
		padding-bottom: 23%;
		&:hover{
			transition: .3s ease-in-out;
			filter: sepia(80%);
			cursor: pointer;
		}
		//body previous
		&:first-child{
			left: 28%;
		}
		//body next
		&:nth-child(2){
			right: 28%;
		}
	}


	.eyes-previous, .eyes-next{
		top: 13%;
	}

	.mouth-previous, .mouth-next{
		top: 55%;
	}

	.shoes-previous, .shoes-next{
		top: 98%;
	}


	.next{
		background: url('../img/next-arrow.png') no-repeat center;
		background-size: 100%;
		right: 33%;
		z-index: 100;
	}

	.previous{
		background: url('../img/previous-arrow.png') no-repeat center;
		background-size: 100%;
		left: 33%;
		z-index: 100;
	}
}


.curtains{
	display: flex;
	width: 100%;
	justify-content: space-between;

	img{
		@media screen and (max-width: 767px){
			width: 100%;
			min-width: 120px;
			max-width: 140px;
			height: 60vh;
		}
		width: 100%;
		max-width: 300px;
		height: 90vh;
	}
}

















